<%= partial 'partials/navbar' %>
<%= partial 'partials/banner' %>
<%= partial 'partials/projectlink' %>
<div class="container">
 <!-- <%= partial 'partials/stacks' %> -->
 <%= partial 'partials/newproject'%>
  <!--<%= partial 'partials/projects' %> -->

   <%= partial 'partials/about' %>
  <%= partial 'partials/bio' %>
</div>
<%= partial 'partials/footer' %>
