<%= partial 'partials/navbar' %>
<%= partial 'partials/banner' %>

<div class="container">
 <!-- <%= partial 'partials/stacks' %> -->
 <%= partial 'partials/newproject'%>
  <!--<%= partial 'partials/projects' %> -->

<% partial 'partials/about'%>
   <%=partial 'partials/about-test'%>

</div>
<%= partial 'partials/footer' %>
