<%= partial 'partials/navbar' %>
<%= partial 'partials/banner' %>
<%= partial 'partials/projectlink' %>
<div class="container">
  <%= partial 'partials/about' %>
  <%= partial 'partials/bio' %>
  <%= partial 'partials/stacks' %>
  <%= partial 'partials/projects' %>
  <%= partial 'partials/uiux' %>
</div>
<%= partial 'partials/footer' %>
